{% extends 'base.html' %} {% block content %}

<h1 class="text-3xl text-white font-bold">HOME!!!</h1>
<br />
<p class="text-white">
  Django is a free and open-source web framework that is written in Python. It
  is designed to help developers build web applications quickly and efficiently,
  with minimal hassle. Django follows the Model-View-Controller (MVC) pattern,
  which separates the business logic from the user interface. This architecture
  promotes code organization and makes it easier to maintain and update your
  application over time. Django is a high-level framework that provides many
  built-in features, such as an admin interface, authentication, URL routing,
  and more. This means that you can focus on writing your application's logic,
  without needing to worry about low-level details. Django also has a large and
  active community, which means that there are many resources available to help
  you learn and troubleshoot any issues you encounter. Overall, Django is a
  powerful tool that can help you build complex web applications with ease.
  Whether you are building a blog, an e-commerce site, or a social network,
  Django has the tools you need to get the job done efficiently and effectively.
</p>

<img
  src="https://res.cloudinary.com/escalante-rep/image/upload/v1580522825/tstloezpvz87c2agrgja.jpg"
/>

{% endblock %}
